 <div class="forgot-password-page">

    
    <button class="button-back" onclick="history.back()">
    <img class="chevron-backward" src="/images/chevron_backward.png" alt="Back" />
    </button>

    <img class="captura-de-pantalla" src="/images/turtle.png" />
    
    <div class="text-wrapper-2">Forgot Password?</div>


    <p class="p">Enter your email to regenerate your password.</p>
    
    <input id="email" type="email" placeholder="Email Adress">
    
    
    <button class="button-cat"><div class="text-wrapper">CONTINUE</div></button>
    </div>