<section class="auth-screen">
   <div class="forgot-password-page">

   <!-- Logo o captura -->
<img class="captura-de-pantalla" src="/images/turtle.png" />

<!-- Boton Back -->
<a  href='javascript:history.back()'>
   <img class="chevron-backward" src="/images/chevron_backward.png" alt="Back">
</a>

<!-- Títulos -->
   <div class="text-wrapper-5">Forgot Password?</div>
<!-- Texto descriptivo -->

<p class="p">Enter your email to regenerate your password.</p>

<!-- Formulario  -->
<form action="/forgot-password" method="POST" class="auth-form">

   <div class="input-group">
   <input id="email" type="email" name="email" placeholder="Email Address">
   </div>

<!-- Botón CONTINUE -->
<button type="submit" class="button-cat login-btn">
      <div class="div">CONTINUE</div>
    </button>
    
  </form>
