<section class="home-screen">

  <div class="home">
      
    <img class="background" src="images/background.png" />
      
    <img class="logoiso" src="images/LogoIso.png" />
    <img class="logotypo" src="images/LogoTypo.png" />

    <p class="dive-into-the-ocean">Dive into the ocean. <br />Capture every encounter.</p>

<!-- Botón LOGIN -->
    <button type="button" class="button-cat login-btn" onclick="location.href='/login'">
      <div class="div">Login With Email</div>
    </button>
  

    <p class="don-t-have-an">
      <span class="text-wrapper">Don’t have an account? </span> 
      <span class="span"><a href="/signup">Sing Up</a></span>
    </p>

  </div>
</section>

