
<section class="auth-screen">
<div class="log-in">

  <!-- Logo o captura -->
  <img class="captura-de-pantalla" src="/images/turtle.png" />

 <!-- Boton Back -->
  <a  href='javascript:history.back()'>
    <img class="chevron-backward" src="/images/chevron_backward.png" alt="Back">
  </a>

   <!-- Título -->
  <div class="text-wrapper-5">Sign In</div>

  <!-- Texto descriptivo -->
  <p class="p">Sign in now to access your records and save new ones.</p>

  <!-- Formulario -->
  <form action="/login" method="POST" class="auth-form">

    <div class="input-group">
    <input id="email" type="email" name="email" placeholder="Email Address">
    </div>

    <div class="input-group">
    <input id="password" type="password" name="password" placeholder="Password">
    </div>


    <!-- Forgot Password -->
    <div class="text-wrapper-4">
      <a href="/forgot-password">Forgot Password?</a>
    </div>

    <!-- Botón LOGIN -->
    <button type="submit" class="button-cat login-btn">
      <div class="div">LOGIN</div>
    </button>
  </form>

  <!-- Footer -->
  <p class="don-t-have-an">
    <span class="text-wrapper">Don’t have an account? </span> 
    <span class="span"><a href="/signup">Sign Up</a></span>
  </p>



<script src="/js/validacionLogin.js"></script>
</section>












