<section class="auth-screen">
  <!-- Logo -->
  <div class="logo">
    <img src="/images/logo.png" alt="Marea Logo">
  </div>

 <!-- Boton Back -->
  <a href='javascript:history.back()'><img class="back-button" src="/images/back_button.png" alt=""></a>

  <!-- Títulos -->
  <div class="auth-header">
    <h2>Sign In</h2>
    <p>Sign in now to start your marine journal and track your ocean adventures!</p>
  </div>

  <!-- Formulario -->
  <form action="/login" method="POST" class="auth-form">
    <input id="email" type="email" name="email" placeholder="Email Address">

    <div class="password-container">
      <input id="password" type="password" name="password" placeholder="Password">
      <a class="forgot-password">Forgot password?</a>
    </div>
    
    <button type="submit">Login</button>
</form>

<script src="/js/validacionLogin.js"></script>

  <!-- Opción para registrarse -->
  <p class="auth-footer">Don’t have an account? <a href="/signup">Sign Up</a></p>
</section>