<section class="auth-screen">
  <!-- Logo -->
  <div class="logo">
    <img src="/images/logo.png" alt="Marea Logo">
  </div>

  
 <!-- Boton Back -->
  <a  href='javascript:history.back()'><img class="back-button" src="/images/back_button.png" alt=""></a>

  <!-- Títulos -->
  <div class="auth-header">
    <h2>Sign Up</h2>
    <p>Sign up now to create your Marea Journal and explore the marine world!</p>
  </div>

  <!-- Formulario -->
  <form action="/signup" method="POST" class="auth-form">
    <input id="name" type="text" name="name" placeholder="Name">
    <input id="email" type="email" name="email" placeholder="Email Address">
    <input id="password" type="password" name="password" placeholder="Password">

    <button type="submit">Sign Up</button>
</form>

<script src="/js/validacionSignup.js"></script>

  <!-- Opción para iniciar sesión -->
  <p class="auth-footer">Already have an account? <a href="/login">Sign In</a></p>
</section>