/* Pagina 4004 */

.error {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000;
  background: linear-gradient(180deg, rgb(8 55 80 / 100%) 0%, rgb(1 12 42 / 100%) 100%);
}

.error .text-wrapper {
  position: absolute;
  top: 179px;
  left: 79px;
  width: 143px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 26px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.error .div {
  position: absolute;
  top: 118px;
  left: 85px;
  width: 132px;
  text-shadow: -4px 4px 4px #00000040;
  font-family: Arial-Black, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--neutral-light);
  font-size: 64px;
  letter-spacing: 0;
  line-height: 20px;
}

.error .button-cat {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 104px;
  height: 33px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 4px 20px;
  position: absolute;
  top: calc(50% + 199px);
  left: calc(50% - 108px);
  background-color: var(--neutral-light);
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000040, 0 4px 4px #00000040;
  cursor: pointer;
}

.error .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 104px;
  height: 33px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 4px 20px;
  position: absolute;
  top: calc(50% + 199px);
  left: calc(50% + 4px);
  background-color: var(--primary-medium);
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000040;
  cursor: pointer;
}

.error .text-wrapper-2 {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  margin-left: -65px;
  margin-right: -65px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-dark);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.error .text-wrapper-3 {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  margin-left: -65px;
  margin-right: -65px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.error .looks-like-this-page {
  position: absolute;
  top: 221px;
  left: 26px;
  width: 249px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.error .turtle {
  position: absolute;
  top: 303px;
  left: 54px;
  width: 193px;
  height: 193px;
  aspect-ratio: 1;
  object-fit: cover;
}