.upload-photo {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000;
  background: linear-gradient(
    180deg, rgb(8 55 80 / 100%) 0%, rgb(1 12 42 / 100%) 100%
  );
}

.upload-photo .chatgpt-image-dic {
  position: absolute;
  top: 0;
  left: 0;
  width: 301px;
  height: 646px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.upload-photo .form {
  position: absolute;
  top: 155px;
  left: 16px;
  width: 270px;
  height: 314px;
  background-color: #f5fafd80;
  border-radius: 10px;
  overflow: hidden;
}

.upload-photo .button-cat {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 66px;
  height: 21px;
  align-items: flex-start;
  justify-content: center;
  gap: 6.35px;
  padding: 2.54px 12.69px;
  position: absolute;
  top: calc(50% + 113px);
  left: calc(50% - 78px);
  background-color: var(--primary-medium);
  border-radius: 3.81px;
  box-shadow: 0 1.27px 2.54px #00000040;
}

.upload-photo .save-text {
  position: relative;
  width: 123.12px;
  height: 13.33px;
  margin-top: -0.63px;
  margin-left: -41.25px;
  margin-right: -41.25px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 12.7px;
  text-align: center;
  letter-spacing: 0.63px;
  line-height: normal;
  white-space: nowrap;
}

.upload-photo .home-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 66px;
  height: 21px;
  align-items: flex-start;
  justify-content: center;
  gap: 6.35px;
  padding: 2.54px 12.69px;
  position: absolute;
  top: calc(50% + 113px);
  left: calc(50% + 6px);
  background-color: var(--neutral-light);
  border-radius: 3.81px;
  box-shadow: 0 1.27px 2.54px #00000040;
}

.upload-photo .text-wrapper {
  position: relative;
  width: 123.12px;
  height: 13.33px;
  margin-top: -0.63px;
  margin-left: -41.25px;
  margin-right: -41.25px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-dark);
  font-size: 12.7px;
  text-align: center;
  letter-spacing: 0.63px;
  line-height: normal;
  white-space: nowrap;
}

.upload-photo .swimming-green-sea {
  position: absolute;
  top: 104px;
  left: 30px;
  width: 211px;
  height: 141px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.upload-photo .div {
  position: absolute;
  top: 79px;
  left: 82px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-dark);
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.upload-photo .upload-button {
  display: flex;
  width: 120px;
  align-items: center;
  gap: 3.58px;
  padding: 1.79px 12.54px 1.79px 15.22px;
  position: absolute;
  top: 63px;
  left: 75px;
  background-color: var(--primary-medium);
  border-radius: 7.16px;
  overflow: hidden;
}

.upload-photo .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.9px;
  font-family: Barlow-Regular, Helvetica,sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 12.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.upload-photo .upload {
  position: relative;
  width: 14.33px;
  height: 14.33px;
}

.upload-photo .text-wrapper-3 {
  position: absolute;
  top: 36px;
  left: 48px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-dark);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.upload-photo .text-wrapper-4 {
  position: absolute;
  top: 8px;
  left: 54px;
  font-family: Barlow-Bold, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--neutral-dark);
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}
