
.home {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000;
  background: linear-gradient(
    0deg, rgb(1 7 47 / 100%) 0%, rgb(1 7 47 / 100%) 100%
  );
}

.home .img {
  position: absolute;
  top: calc(50% - 325px);
  left: calc(50% - 150px);
  width: 301px;
  height: 600px;
  aspect-ratio: 0.56;
  object-fit: cover;
}

.home .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 301px;
  height: 633px;
  aspect-ratio: 0.46;
  object-fit: cover;
}

.home .don-t-have-an {
  position: absolute;
  top: calc(50% + 237px);
  left: calc(50% - 96px);
  width: 194px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper {
  color: #f5fafd;
}

.home .span {
  font-family: Barlow-Bold, Helvetica, sans-serif;
  font-weight: 700;
  color: #4dc3b5;
}

.home .button-cat {
  display: flex;
  width: 256px;
  height: 49px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  position: absolute;
  top: calc(50% + 174px);
  left: calc(50% - 128px);
  background-color: var(--primary-medium);
  border-radius: 6px;
  box-shadow: 0 4px 4px #00000040;
  border: none;
  cursor: pointer;
}

.home .div {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .dive-into-the-ocean {
  position: absolute;
  top: calc(50% + 3px);
  left: calc(50% - 92px);
  width: 194px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.home .logoiso {
  position: absolute;
  top: 234px;
  left: 40px;
  width: 97px;
  height: 104px;
  aspect-ratio: 0.92;
}

.home .logotypo {
  position: absolute;
  top: 257px;
  left: 116px;
  width: 150px;
  height: 52px;
  aspect-ratio: 3.38;
}

.sign-up {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: none;
  border-color: #000;
  background: linear-gradient(
    180deg, rgb(0 31 43 / 100%) 0%, rgb(1 12 42 / 100%) 100%
  );
}

.sign-up .already-have-an {
  position: absolute;
  top: 494px;
  left: 49px;
  width: 202px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-wrapper {
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: #f5fafd;
  font-size: 14px;
  letter-spacing: 0;
}

.sign-up .span {
  font-family: Barlow-Bold, Helvetica, sans-serif;
  font-weight: 700;
}

.sign-up .button-cat {
  display: flex;
  width: 256px;
  height: 49px;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 20px;
  position: absolute;
  top: calc(50% + 106px);
  left: calc(50% - 126px);
  background-color: var(--primary-medium);
  border-radius: 6px;
}

.sign-up .div {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .line {
  top: 406px;
  position: absolute;
  left: 31px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.sign-up .text-wrapper-2 {
  position: absolute;
  top: 381px;
  left: 37px;
  width: 62px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .img {
  top: 350px;
  position: absolute;
  left: 31px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.sign-up .text-wrapper-3 {
  position: absolute;
  top: 323px;
  left: 36px;
  width: 83px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .line-2 {
  top: 292px;
  position: absolute;
  left: 31px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.sign-up .text-wrapper-4 {
  position: absolute;
  top: 265px;
  left: 36px;
  width: 40px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .p {
  position: absolute;
  top: 160px;
  left: 31px;
  width: 249px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.sign-up .text-wrapper-5 {
  position: absolute;
  top: 151px;
  left: 30px;
  width: 83px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.sign-up .chevron-backward {
  position: absolute;
  top: 76px;
  left: 24px;
  width: 38px;
  height: 38px;
}

.sign-up .captura-de-pantalla {
  position: absolute;
  top: 46px;
  left: 163px;
  width: 106px;
  height: 112px;
  aspect-ratio: 0.92;
  object-fit: cover;
}

.sign-up form.auth-form {
  position: relative;
  z-index: 100;
}

.auth-form .input-group {
  position: relative;
  width: 245px;
  margin-left: 31px;
  margin-bottom: 30px;
}

.auth-form .input-group:nth-child(1) {
  margin-top: 230px;
}

.auth-form input {
  position: relative;
  z-index: 10;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--neutral-light);
  color: var(--neutral-light);
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 8px 0;
  outline: none;
}

.auth-form input::placeholder {
  color: rgb(245 250 253 / 60%);
}

.auth-form button[type="submit"] {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 256px;
  height: 49px;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 23px;
  background-color: var(--primary-medium);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
}

/* Forgot password */
.forgot-password-page {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: none;
  background: linear-gradient(
    180deg, rgb(0 31 43 / 100%) 0%, rgb(1 12 42 / 100%) 100%
  );
}

.forgot-password-page .button-cat {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 256px;
  height: 49px;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  position: absolute;
  top: calc(350px);
  left: calc(23px);
  background-color: var(--primary-medium);
  border-radius: 6px;
}

.forgot-password-page .text-wrapper {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.forgot-password-page .p {
  position: absolute;
  top: 200px;
  left: 33px;
  width: 249px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.forgot-password-page .text-wrapper-2 {
  position: absolute;
  top: 180px;
  left: 32px;
  width: 197px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.forgot-password-page .captura-de-pantalla {
  position: absolute;
  top: 46px;
  left: 166px;
  width: 106px;
  height: 112px;
  object-fit: cover;
  background: transparent;
}

.forgot-password-page input[type="email"] {
  position: absolute;
  top: 280px;
  left: 30px;
  width: 245px;
  z-index: 10;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--neutral-light);
  color: var(--neutral-light);
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-size: 14px;
  padding: 8px 0;
  outline: none;
}

.forgot-password-page .button-back {
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 80px;
  left: 28px;
  width: 38px;
  height: 38px;
  z-index: 10;
}

.log-in {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000;
  background: linear-gradient(
    180deg, rgb(0 31 43 / 100%) 0%, rgb(1 12 42 / 100%) 100%
  );
}

.log-in .don-t-have-an {
  position: absolute;
  top: 458px;
  left: 49px;
  width: 194px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.log-in .text-wrapper {
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: #f5fafd;
  font-size: 14px;
  letter-spacing: 0;
}

.log-in .span {
  font-family: Barlow-Bold, Helvetica, sans-serif;
  font-weight: 700;
}

.log-in .div {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.log-in .text-wrapper-2 {
  position: absolute;
  top: 323px;
  left: 32px;
  width: 62px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.log-in .img {
  top: 292px;
  position: absolute;
  left: 26px;
  width: 600px;
  height: 1px;
  object-fit: cover;
}

.log-in .text-wrapper-3 {
  position: absolute;
  top: 265px;
  left: 31px;
  width: 83px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.log-in .text-wrapper-4 {
  position: absolute;
  top: 357px;
  left: 193px;
  width: 79px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.log-in .p {
  position: absolute;
  top: 182px;
  left: 26px;
  width: 249px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.log-in .text-wrapper-5 {
  position: absolute;
  top: 151px;
  left: 26px;
  width: 83px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.log-in .chevron-backward {
  position: absolute;
  top: 76px;
  left: 20px;
  width: 38px;
  height: 38px;
}

.log-in .captura-de-pantalla {
  position: absolute;
  top: 46px;
  left: 159px;
  width: 106px;
  height: 112px;
  aspect-ratio: 0.92;
  object-fit: cover;
}

.log-in form.auth-form .login-btn {
  position: absolute;
  top: 380px;     
  left: 23px;     
  margin: 0;     
}

.error {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000;
  background: linear-gradient(180deg, rgb(8 55 80 / 100%) 0%, rgb(1 12 42 / 100%) 100%);
}

.error .text-wrapper {
  position: absolute;
  top: 179px;
  left: 79px;
  width: 143px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 26px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.error .div {
  position: absolute;
  top: 118px;
  left: 85px;
  width: 132px;
  text-shadow: -4px 4px 4px #00000040;
  font-family: Arial-Black, Helvetica, sans-serif;
  font-weight: 900;
  color: var(--neutral-light);
  font-size: 64px;
  letter-spacing: 0;
  line-height: 20px;
}

.error .button-cat {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 104px;
  height: 33px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 4px 20px;
  position: absolute;
  top: calc(50% + 199px);
  left: calc(50% - 108px);
  background-color: var(--neutral-light);
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000040, 0 4px 4px #00000040;
  cursor: pointer;
}

.error .text-wrapper-2 {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  margin-left: -65px;
  margin-right: -65px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-dark);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.error .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 104px;
  height: 33px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 4px 20px;
  position: absolute;
  top: calc(50% + 199px);
  left: calc(50% + 4px);
  background-color: var(--primary-medium);
  border-radius: 6px;
  box-shadow: 0 2px 4px #00000040;
  cursor: pointer;
}

.error .text-wrapper-3 {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  margin-left: -65px;
  margin-right: -65px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.error .looks-like-this-page {
  position: absolute;
  top: 221px;
  left: 26px;
  width: 249px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.error .turtle {
  position: absolute;
  top: 303px;
  left: 54px;
  width: 193px;
  height: 193px;
  aspect-ratio: 1;
  object-fit: cover;
}
