/* Mensajes error en formulario login y singup */
.error-msg {
  font-family: Barlow-Regular, Helvetica, sans-serif;
  color: #e4e4e4;
}

.password-container {
  position: relative;
  width: 100%;
}

.forgot-password {
  position: absolute;
  right: 0;
  top: 90%;
  transform: translateY(-50%);
  font-size: 0.85rem;
  color: #ffd60a;
  text-decoration: none;
}

.password-container .forgot-password:hover {
  text-decoration: underline;
}

/* Home screen */
.home {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: 1px solid;
  border-color: #000;
  background: linear-gradient(
    0deg, rgb(1 7 47 / 100%) 0%, rgb(1 7 47 / 100%) 100%
  );
}

.home .img {
  position: absolute;
  top: calc(50% - 325px);
  left: calc(50% - 150px);
  width: 301px;
  height: 600px;
  aspect-ratio: 0.56;
  object-fit: cover;
}

.home .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 301px;
  height: 633px;
  aspect-ratio: 0.46;
  object-fit: cover;
}

.home .don-t-have-an {
  position: absolute;
  top: calc(50% + 237px);
  left: calc(50% - 96px);
  width: 194px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.home .text-wrapper {
  color: #f5fafd;
}

.home .span {
  font-family: Barlow-Bold, Helvetica, sans-serif;
  font-weight: 700;
  color: #4dc3b5;
}

.home .button-cat {
  display: flex;
  width: 256px;
  height: 49px;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  position: absolute;
  top: calc(50% + 174px);
  left: calc(50% - 128px);
  background-color: var(--primary-medium);
  border-radius: 6px;
  box-shadow: 0 4px 4px #00000040;
  border: none;
  cursor: pointer;
}

.home .div {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.home .dive-into-the-ocean {
  position: absolute;
  top: calc(50% + 3px);
  left: calc(50% - 92px);
  width: 194px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.home .logoiso {
  position: absolute;
  top: 234px;
  left: 40px;
  width: 97px;
  height: 104px;
  aspect-ratio: 0.92;
}

.home .logotypo {
  position: absolute;
  top: 257px;
  left: 116px;
  width: 150px;
  height: 52px;
  aspect-ratio: 3.38;
}

/* CSS Sing Up */ 

.sign-up {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: none;
  border-color: #000;
  background: linear-gradient(
    180deg, rgb(0 31 43 / 100%) 0%, rgb(1 12 42 / 100%) 100%
  );
}

.sign-up .already-have-an {
  position: relative;
  top: 0;
  left: 20px;
  width: 250px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-wrapper {
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: #f5fafd;
  font-size: 14px;
  letter-spacing: 0;
}

.sign-up .span {
  font-family: Barlow-Bold, Helvetica, sans-serif;
  font-weight: 700;
}

.sign-up .button-cat {
  display: flex;
  width: 256px;
  height: 49px;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 20px;
  position: absolute;
  top: calc(50% + 106px);
  left: calc(50% - 126px);
  background-color: var(--primary-medium);
  border-radius: 6px;
}

.sign-up .div {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.sign-up .text-wrapper-2 {
  position: absolute;
  top: 381px;
  left: 37px;
  width: 62px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .img {
  top: 350px;
  position: absolute;
  left: 31px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.sign-up .text-wrapper-3 {
  position: absolute;
  top: 323px;
  left: 36px;
  width: 83px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .text-wrapper-4 {
  position: absolute;
  top: 265px;
  left: 36px;
  width: 40px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.sign-up .p {
  position: absolute;
  top: 182px;
  left: 31px;
  width: 249px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.sign-up .text-wrapper-5 {
  position: absolute;
  top: 151px;
  left: 30px;
  width: 83px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.sign-up .chevron-backward {
  position: absolute;
  top: 76px;
  left: 20px;
  width: 38px;
  height: 38px;
}

.sign-up .captura-de-pantalla {
  position: absolute;
  top: 46px;
  left: 163px;
  width: 106px;
  height: 112px;
  aspect-ratio: 0.92;
  object-fit: cover;
}

.sign-up form.auth-form {
  position: relative;
  z-index: 100;
}

.auth-form .input-group {
  position: relative;
  width: 245px;
  margin-left: 31px;
  margin-bottom: 30px;
}

.auth-form .input-group:nth-child(1) {
  margin-top: 250px;
}

.auth-form input {
  position: relative;
  z-index: 10;
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--neutral-light);
  color: var(--neutral-light);
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 8px 0;
  outline: none;
}

.auth-form input::placeholder {
  color: rgb(245 250 253 / 60%);
}

.auth-form button[type="submit"] {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 256px;
  height: 49px;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0 23px;
  background-color: var(--primary-medium);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
}

/* Forgot password */

.forgot-password-page {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: none;
  background: linear-gradient(
    180deg, rgb(0 31 43 / 100%) 0%, rgb(1 12 42 / 100%) 100%
  );
}

.forgot-password-page .span {
  font-family: Barlow-Bold, Helvetica, sans-serif;
  font-weight: 700;
}

.forgot-password-page .button-cat {
  display: flex;
  width: 256px;
  height: 49px;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 20px;
  position: absolute;
  top: calc(50% + 106px);
  left: calc(50% - 126px);
  background-color: var(--primary-medium);
  border-radius: 6px;
}

.forgot-password-page .div {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.forgot-password-page .text-wrapper-2 {
  position: absolute;
  top: 381px;
  left: 37px;
  width: 62px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.forgot-password-page .img {
  top: 350px;
  position: absolute;
  left: 31px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.forgot-password-page .text-wrapper-3 {
  position: absolute;
  top: 323px;
  left: 36px;
  width: 83px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.forgot-password-page .text-wrapper-4 {
  position: absolute;
  top: 265px;
  left: 36px;
  width: 40px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.forgot-password-page .p {
  position: absolute;
  top: 192px;
  left: 31px;
  width: 249px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.forgot-password-page .text-wrapper-5 {
  position: absolute;
  top: 170px;
  left: 30px;
  width: 83px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.forgot-password-page .chevron-backward {
  position: absolute;
  top: 76px;
  left: 20px;
  width: 38px;
  height: 38px;
}

.forgot-password-page .captura-de-pantalla {
  position: absolute;
  top: 46px;
  left: 163px;
  width: 106px;
  height: 112px;
  aspect-ratio: 0.92;
  object-fit: cover;
}

.forgot-password form.auth-form {
  position: relative;
  z-index: 100;
}

.forgot-password-page .auth-form .input-group:nth-child(1) {
  margin-top: 260px;
}

/* CSS Login Screen */

.log-in {
  position: relative;
  width: 301px;
  height: 650px;
  border-radius: 37px;
  overflow: hidden;
  border: none;
  border-color: #000;
  background: linear-gradient(
    180deg, rgb(0 31 43 / 100%) 0%, rgb(1 12 42 / 100%) 100%
  );
}

.log-in .don-t-have-an {
  position: relative;
  top: 0;
  left: 20px;
  width: 250px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.log-in .text-wrapper {
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: #f5fafd;
  font-size: 14px;
  letter-spacing: 0;
}

.log-in .span {
  font-family: Barlow-Bold, Helvetica, sans-serif;
  font-weight: 700;
}

.log-in .button-cat {
  display: flex;
  width: 256px;
  height: 49px;
  align-items: flex-start;
  justify-content: center;
  padding: 12px 20px;
  position: absolute;
  top: calc(50% + 106px);
  left: calc(50% - 126px);
  background-color: var(--primary-medium);
  border-radius: 6px;
}

.log-in .div {
  position: relative;
  width: 194px;
  height: 21px;
  margin-top: -1px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  line-height: normal;
  white-space: nowrap;
}

.log-in .text-wrapper-2 {
  position: absolute;
  top: 381px;
  left: 37px;
  width: 62px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.log-in .img {
  top: 350px;
  position: absolute;
  left: 31px;
  width: 245px;
  height: 1px;
  object-fit: cover;
}

.log-in .text-wrapper-3 {
  position: absolute;
  top: 323px;
  left: 36px;
  width: 83px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

/* text forgot password */
.log-in .text-wrapper-4 {
  position: relative;
  top: -10px;
  left: 165px;
  width: 79px;
  font-family: Barlow-Regular, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--neutral-light);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.log-in .p {
  position: absolute;
  top: 182px;
  left: 31px;
  width: 249px;
  font-family: Barlow-Medium, Helvetica, sans-serif;
  font-weight: 500;
  color: var(--neutral-light);
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 20px;
}

.log-in .text-wrapper-5 {
  position: absolute;
  top: 151px;
  left: 30px;
  width: 83px;
  font-family: Barlow-SemiBold, Helvetica, sans-serif;
  font-weight: 600;
  color: var(--neutral-light);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.log-in .chevron-backward {
  position: absolute;
  top: 76px;
  left: 20px;
  width: 38px;
  height: 38px;
}

.log-in .captura-de-pantalla {
  position: absolute;
  top: 46px;
  left: 163px;
  width: 106px;
  height: 112px;
  aspect-ratio: 0.92;
  object-fit: cover;
}

.log-in form.auth-form {
  position: relative;
  z-index: 100;
}

/* Pagina 4004 */

.container-404 {
  text-align: center;
  padding: 20px;
}

.container-404 h1 {
  font-size: 5rem;
  margin: 0;
  color: #164399;
}

.container-404 p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}

.container-404 a {
  display: inline-block;
  padding: 10px 20px;
  background: #275fd7;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.2s;
}

.container-404 a:hover {
  background: #2e48b2;
}

.waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30vh; /* por ejemplo, que las olas ocupen mitad vertical */
  min-height: 100px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}
