<div class="error">

  <div class="text-wrapper">Turtly sorry!</div>

  <div class="div">404</div>

  <button class="button-cat" onclick="location.href='/login'">
    <span class="text-wrapper-2">Back</span>
  </button>

  <button class="div-wrapper" onclick="location.href='/'">
    <span class="text-wrapper-3">Home</span>
  </button>

  <p class="looks-like-this-page">
    Looks like this page is gone. <br />
    Which makes sense because I ate it. Ooops!
  </p>

  <img class="turtle" src="/images/Turtle404.png" />
</div>
