


<div id="alert-success" style="display:none;">
  Se ha guardado correctamente
</div>

<section class="posts-guardados">

  <!-- Tarjetas existentes -->
  {{#each posts}}
    <a href="/posts/{{this._id}}" class="card-link">
      <div class="card">
        <h3>{{this.commonName}}</h3>
        {{#if this.imageUrl}}
          <img src="{{this.imageUrl}}" alt="{{this.commonName}}" width="300">
        {{/if}}
      </div>
    </a>
  {{/each}}

</section>



  <div class="gallery">
    <img class="chatgpt-image-dic" src="/images/BackgroundGallery.png" />
    
    <div class="component">
      <!-- <div class="entries">
        Aquí irían las entradas del diario cuando existan 
      </div>-->
    </div>

  
    <div class="icon-and-text">
      <img class="logoiso-center" src="/images/LogoIso.png" />
      <div class="text">
        <div class="text-wrapper">Start Journaling</div>
      </div>
        <p class="create-your-personal">
          Create your personal sea journal. <br /> 
          Tap the plus button to get started.
        </p>
      
    </div>

    <div class="nav">

      <div class="button" onclick="location.href='/'">
        <a href="/"></a>
        <img class="img" src="/images/ButtonHome.png" />
      </div>

      <button class="div-wrapper" onclick="location.href='/posts/new'">
        <a href="/posts/new"></a>
        <div class="text-wrapper-2">
        <img class="img" src="/images/Button+.png" />
      </button>

      <div class="user-wrapper" onclick="location.href=">
        <a href=""></a>
        <img class="img" src="/images/ButtonProfile.png" />
      </div>
    </div>

    <p class="welcome-user">
      <span class="span">Welcome,<br /></span> 
      <span class="text-wrapper-3">User</span>
    </p>

    <img class="logoiso" src="/images/LogoIso.png" />
  </div>
  
  <script>
  // Mensaje de éxito
  const params = new URLSearchParams(window.location.search);
  if(params.get('success') === 'true'){
    const alert = document.getElementById('alert-success');
    alert.style.display = 'block';  
    setTimeout(() => {
      alert.style.opacity = 0;
      setTimeout(() => alert.style.display = 'none', 500);
    }, 3000);
  }
</script>

